<head>
    <title>Авторизация</title>
    {% load static %}
    <link rel="stylesheet" href = "{% static 'font/font-faces.css' %}"></link>
    <link rel="stylesheet" href = "{% static 'steamreg/style.css' %}"></link>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <div class='form-page'>
        <div class='container-form'>
            <span class="container-form-head">Войдите в свой аккаунт</span>
            <form method="POST" action="">
                {% csrf_token %}
                {% for message in messages %}
                <div class="form-field-error">{{ message }}</div>
                {% endfor %}
                <div class="form-field"><input type="text" name="username" placeholder="Введите логин"></div>
                <div class="form-field"><input type="password" name="password" placeholder="Введите пароль"></div>
                <button type="submit" class="form-btn">Войти</button>
            </form>
            
            <div class="redirect-form-page">У вас нет акканута? <a href="{% url 'register' %}">Регистрация</a></div>
            <div class="redirect-form-page"><a href="{% url 'reset_password' %}">Забыли пароль?</a></div>
        </div>
    </div>
</body>

