<head>
    <title>Сброс пароля</title>
    {% load static %}
    <link rel="stylesheet" href = "{% static 'font/font-faces.css' %}"></link>
    <link rel="stylesheet" href = "{% static 'steamreg/style.css' %}"></link>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <div class="form-page">
        <div class='container-form'>
            <span class="container-form-head">Введите новый пароль</span>
            <form method="POST" action="">
                {% csrf_token %}
                <div class="form-field">{{ form.new_password1 }}<span class="form-field-error">{{ form.new_password1.errors }}</span></div>
                <div class="form-field">{{ form.new_password2 }}<span class="form-field-error">{{ form.new_password2.errors }}</span></div>
                <button type="submit" class="form-btn">Восстановить</button>
            </form>
        </div>
    </div>
</body>