<head>
    <title>Сброс пароля</title>
    {% load static %}
    <link rel="stylesheet" href = "{% static 'font/font-faces.css' %}"></link>
    <link rel="stylesheet" href = "{% static 'steamreg/style.css' %}"></link>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <div class="form-page">
        <div class='container-form'>
            <span class="container-form-head">Восстановление пароля</span>
            <form method="POST" action="">
                {% csrf_token %}
                <div class="form-field">{{ form.email }}<span class="form-field-error">{{ form.email.errors }}</span></div>
                <button type="submit" class="form-btn">Восстановить</button>
            </form>
            
            <div class="redirect-form-page"><a href="{% url 'login' %}">Я вспомнил пароль</a></div>
        </div>
    </div>
</body>
